<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on"/>
    <title></title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css"/>
    <link rel="stylesheet" href="css/listview-grid.css">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>
</head>
<body>
<div data-role="page" data-theme="b"  id="demo-page" class="my-page">

    <div role="main" class="ui-content">
        <ul data-role="listview" data-inset="true">
            <li><a href="#">
                <img src="../thumb/castol.jpg" class="ui-li-thumb">

                <h2>嘉实多优惠券</h2>

                <p>8折享受优惠</p>

                <p class="ui-li-aside">机油</p>
            </a></li>
            <li><a href="#">
                <img src="../thumb/castol.jpg" class="ui-li-thumb">

                <h2>嘉实多优惠券</h2>

                <p>8折享受优惠</p>

                <p class="ui-li-aside">机油</p>
            </a></li>
            <li><a href="#">
                <img src="../thumb/castol.jpg" class="ui-li-thumb">

                <h2>嘉实多优惠券</h2>

                <p>8折享受优惠</p>

                <p class="ui-li-aside">机油</p>
            </a></li>
            <li><a href="#">
                <img src="../thumb/castol.jpg" class="ui-li-thumb">

                <h2>嘉实多优惠券</h2>

                <p>8折享受优惠</p>

                <p class="ui-li-aside">机油</p>
            </a></li>
            <li><a href="#">
                <img src="../thumb/castol.jpg" class="ui-li-thumb">

                <h2>嘉实多优惠券</h2>

                <p>8折享受优惠</p>

                <p class="ui-li-aside">机油</p>
            </a></li>
        </ul>
    </div>
</div>
</body>
</html>