<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>

        .points-title {
            margin: 15px 0 20px;
            font-size: 12px;
        }
        .points-title strong {
            font-size: 18px;
            color: #f76120;
        }
    </style>
</head>
<body>
<div data-role="page">

    <div role="main" class="ui-content">
        <h3 class="points-title cf" id="yui_3_16_0_1_1409393550610_435">您当前的积分是 <strong id="J-owned-point">0</strong>分
            年底将有<span
                    style="color:#f76120">0</span>积分过期 <span style="color:#999">至2014年12月31日</span></h3>
    </div>
</div>
</body>
</html>